*{
	font-family: $body_font;
	margin: 0 auto;
	padding:0px;
}
//header
header{
	background-image: url("../img/slider_bg12.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	height: 100vh;
}
.nav-bar ul li a{
	color:#fff !important;
	font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1;
	margin-right: 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-bar ul li a:hover{
	color: #fd3635 !important;
	background-color: transparent;
	border-top: medium solid;
}

.title-1{
	color: #fff;
	font-size: 60px;
	margin-top: 30vh;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
}

.css-typing{
		color: #f2f3f4;
		font-size: 45px;
		font-weight: 300;
	    width: 20em;
	    text-align: center;
	    margin-left: 110px;
	    white-space:nowrap;
	    overflow:hidden;
	    -webkit-animation: type 5s steps(50, end);
	    animation: type 5s steps(50, end);
	}

	@keyframes type{
	    from { width: 0; }
	}

	@-webkit-keyframes type{
	    from { width: 0; }
}

.btn-1{
	background: #73baae;
    font-size: 16px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px; //con las propiedades del botton queria hacer un mixin pero no lo supe implementar
    font-weight: 100;
    padding-right: 7%;
    padding-left: 7%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.btn-1:hover{
    background: #ff075a;
    border-color: transparent;
}
.btn-2{
    background: transparent;
    border: 1px solid;
    border-color: #73baae;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    padding-right: 7%;
    padding-left: 7%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.btn-2:hover{
    background: transparent;
    border-color: #ff075a;
    color: #fff;
}

//section 01
#sec01{
	background-color: #e8f1f1;
	overflow: hidden;
    position: relative;
    padding-bottom: 10vh;
}

.title-3{
	color:#222;
	text-align: center;
	font-size: 42px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 15px;
}
.line-title{
	margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
    background: #73baae;
}
.img-container{
	margin-top: 80px;
	border-radius: 50%;
    border-style: solid;
    height: 165px;
    width: 165px;
    overflow: hidden;
    border-color: #73baae;
    border-width: 10px;
}
.serv-img{
   	margin-top: 30px;
    vertical-align: center;
    max-width: 100%;
    height: auto;
}

.sub-title-1{
	font-size: 19px;
    font-weight: 300;
    margin: 0.950em 0 0.5em;
    text-align: center;
}
#sec01 p{
	color: #747474;
    font-size: 15px;
    font-weight: 100;
    text-align:justify;  
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

.btn-3{
	background: #73baae;
    font-size: 16px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;

    padding-right: 7%;
    padding-left: 7%;
    padding-bottom: 4%;
    padding-top: 4%;
    margin: 13px;
}

.btn-3:hover{
	color: #fff;
    background: #fd3635;
    border-color: transparent;
}

//sec02
#sec02{
	margin-top: 15vh;
	overflow: hidden;
    position: relative;
    padding-bottom: 10vh;
}

.sub-title-2{
	color: #0a0a0a;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
}

.line-title-2{
	margin: 20px 0px 50px 0px;
    z-index: 1;
    width: 55px;
    height: 3px;
    background: #0a0a0a;
}
#sec02 p{
	color: #747474;
    font-size: 15px;
    font-weight: 100;
    text-align:left;  
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}
.btn-sec02{
	margin-top: 5%;
	margin-bottom: 5%;
	text-transform: uppercase;
}

.btn-sec02:hover{
	color: #fff;
    background: #fd3635;
    border-color: transparent;margin-top: 5%;
	margin-bottom: 5%;
}


